.needs {
    width: MAX(100%, 100vw);
    height: 100%;
    padding-inline: $spacer-screen;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: stretch;

    &__inner {
        padding-inline: 120px;
    }

    &__nav {
        margin-block: 40px 80px;
    }

    &__header {
        margin-bottom: $s6;
        text-align: center;

        &-title {
            margin-bottom: $s6;
        }

        &-figure {
            width: 90px;

            >img {
               width: 100%;
               height: 100%;
               object-fit: contain; 
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $s5;
        }
    }

    &__footer {
        margin-top: $s6;
        padding-block: $s3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
