.card--patatadd{
  height: 270px;
  border-radius: 16px;
  width: 270px;
  border: 1.5px solid $color--grey;
  position: relative;
  padding: 24px 32px;
  overflow: hidden;
  svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    path{
      fill: var(--color, red);
    }
  }

  &__image{
    position: absolute;
    bottom: 0; 
    left: 0;
  }
}