.home {
    width: 100%;
    min-height: 100vh;
    padding: 6vh;

    &__inner {
        max-width: 600px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }

    &__title {
        margin-inline: auto;

        span {
            padding: 6px;
            background-color: $color--dark_background;
            color: $color--rose-500;
        }
    }

    &__emote {
        margin-inline: auto;
    }

    &__desc {
        max-width: 55ch;
    }

    &__button {
        color: $color--rose-500;
        background-color: $color--dark_background;
    }
}
