.choices {
    display: flex;
    flex-wrap: wrap;
    gap: $s4;
}

.choice {
    width: calc(50% - $s5 / 2);
    padding-block: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $color--grey 2px solid;
    border-radius: 8px;

    &__content {
        position: relative;
    }

    &.active {
        border-color: $color--rose-500;
        background-color: $color--rose-50;

        .choice__content::before {
            content: url("./assets/icons/choices/selected.svg");
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: calc(-24px - 8px);
            transform: translateY(-50%);
        }
    }

    &__textarea {
        width: 100%;
        resize: none;
    }
}
