.steppers {
    display: flex;
    justify-content: space-between;
    gap: $s3;
}

.stepper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $s3;
    cursor: pointer;

    &:not(:last-of-type) {
        flex: 1;
    }

    &__header {
        width: 100%;
        display: flex;
        gap: $s3;
    }

    &__shape {
        height: 70px;
        flex-shrink: 0;
        position: relative;

        &--empty {
            opacity: 0.65;
        }

        & > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__separator {
        width: 100%;
        height: 9px;
        margin-top: 30px;
        border-radius: 5px;
        background-color: gainsboro;
    }

    &__step {
        text-transform: capitalize;
        font-weight: 600;
    }

    &__category {
        white-space: nowrap;
    }
}
