.button {
    padding: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: $color--rose-500;
    color: $color--black;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;

    &--full {
        width: 100%;
    }
}
