.input {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__label {
        sup {
            color: $color--error;
        }
    }

    &__input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $color--black;
        font-size: 18px;
        font-family: "Roboto", sans-serif;

        &:focus {
            outline: none;
        }
    }

    &__helper {
        color: $color--grey;
    }
}


.input-container{
  position: relative;
 
  &__input{
    position: relative;
    width: 296px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid $color--grey;
    font-size: 14px;
    font-weight: 600;
    color: $color--grey--500;
    padding-left: 44px;
    text-overflow: ellipsis;
  }

  &__icon{
    position: absolute;
    left: 20px;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    overflow: unset;

    path{
      stroke: $color--grey--500;
    }
  }
}
