.main-layout{
  display: grid;
  grid-template-areas: "header header"
  "sidebar main";
  grid-template-rows: 82px 1fr;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;

  &__main{
    grid-area: main;
    background: #FFFFFF;
    width: 100%;
    padding: 72px 24px;
  }
  &__sidebar {
    grid-area: sidebar;
    width: 100%;
    background: $color--white;
    position: sticky;
    top: 82px;
    left: 0;
    height: 100%;
    padding: 24px 0;

    color: $color--black;
    font-weight: 600;

    border-right: 1px solid $color--grey;

    li{
      padding: 16px;
      gap: 12px;
      display: flex;
      align-items: center;

      p{
        height: 1em;
      }
      svg path{
        stroke: $color--black;
      }

      &.active{
        background: $color--rose;
        padding: 16px 24px;
        position: relative;

        &::after{
          content: "";
          height: 100%;
          width: 4px;
          background: $color--rose-500;
          left: calc(100% - 2px);
          position: absolute;
          top: 0;
          border-radius: 6px;
        }
      }

      & + li {
        margin-top: $s5;
      }
    }
  }

  
  > .main-layout__header {
    grid-area: header;
    position: sticky;
    top: 0;
    left: 0;
    
    height: 100%;
    background: $color--white;
    width: 100%;

    padding: 0 32px;
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid $color--grey;
    .actions{
      display: flex;
      margin-left: auto;
      width: fit-content;
      gap: 24px;
      align-items: center;

      .input-container{
        margin-right: 24px;

        &::after{
          content: "";
          position: absolute;
          height: 80%;
          width: 2px;
          background: $color--grey;
          top: 10%;
          right: -24px;
          border-radius: 4px;
        }
      }
    }
    

    .profile{
      display: grid;
      grid-template-areas: "img name icon"
        "img job icon";
      justify-content: center;
      align-items: center;
      row-gap: 4px;
      column-gap: 12px;

        &__img{
          grid-area: img;
          border-radius: 50%;
        }
        &__name{
          grid-area: name;
          height: 1em;
          font-size: 16px;
          font-weight: 600;
        }
        &__job{
          grid-area: job;
          height: 1em;
          font-size: 14;
          font-weight: 500;
          color: $color--grey--500;
        }
        &__icon{
          grid-area: icon;
        }
    }
  }
}


