*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    font-size: 16px;
    color: $color--black;
    background-color: $color--white_background;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li {
    list-style: none;
}