/*
 * Colors
 */
$color--white: #fafafa; // (White)
$color--black: #01003E; // (Black - Blue / Primary text)
$color--grey: #DEDEE4; // (Grey)
$color--grey--500: #848484;

$color--rose-500: #ED757F; // (Rose - 500)
$color--rose-200: #FAA2AA; // (Rose - 200)
$color--rose-50: #FCBFC4; // (Rose - 50)
$color--rose: #FFE9EB;

$color--white_background: #eff0f1;
$color--dark_background: #222426;

$back_overlay: rgba(1, 10, 19, 0.75);

$color--success: #65B26D; // (Green alert / success)
$color--warning: #ffb222; // (Yellow alert / warning)
$color--pending: #31a6ff; // (Blue alert / pending)
$color--error: #ff442e; // (Red alert / error)

/*
 * Gradients
 */
$gradient_1: linear-gradient(90deg, #cdfafa 0%, #785a28 0.01%, #c89b3c 100%);

/*
 * Shadows
 */
$shadow_1: 0px 0px 6px -1px rgba(0, 0, 0, 0.13), 0px 2px 4px -1px rgba(0, 0, 0, 0.09);

/*
 * Breakpoints
 */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/*
 * Spacers
 */
$spacer-screen: 160px;
$s1: 0.2rem;
$s2: 0.4rem;
$s3: 0.8rem;
$s4: 1.2rem;
$s5: 1.6rem;
$s5_5: 2.4rem;
$s6: 3.2rem;
$s7: 4.8rem;
$s8: 6.4rem;
$s8_5: 8.4rem;
$s9: 9.6rem;
$s10: 12.8rem;


@mixin title-l1 {
  font-size: 36px;
  font-weight: bold;
}
